@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* Box sizing rates */
*,
*::before,
*::after {
    box-sizing: border-box; 
}

/* CSS Reset */
body,
h1, 
h2,
h3,
h4,
h5,
h6,
figure, 
blockquote,
dl,
dd {
   margin: 0; 
}

ul[role="lists"],
ol[role="lists"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #fff7f0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    margin: 1rem;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    } 
}

main {
    margin: 0 auto;
}

header,
footer,
.hero,
.skills,
.profile,
.work,
.contact {
    margin-inline: 1rem;
    max-width: 21.4375rem;
    margin: 0 auto;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem 2rem;
}

.btn {
    text-decoration: none;
    font-weight: 700;
    color: #fff7f0;
    padding: 0.5rem 1.6875rem;
}

.btn-header,
.btn-footer {
    text-decoration: none;
    font-weight: 700;
    color: #fff7f0;
    padding: 0.5rem 1.6875rem;
    background: #030303;
    border-radius: 1.75rem;
}

.btn-header:focus,
.btn-footer:focus {
    background: #755cde;
    cursor: pointer;
}

.hero {
    text-align: center;
    margin: 0 auto;
}

.hero h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.835rem;
    color: #030303;
    margin-top: 2rem;
}

.hero p {
    font-weight: 500;
    line-height: 1.625rem;
    color: #7A746E;
    margin-top: 1rem;
}

.skill {
    position: relative;
    margin-top: 1.5rem;
    border-radius: .5rem;
}

article img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.title {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.89rem;
    color: #fff;
}

.skill-one {
    background: #755cde;
    height: 22.75rem;
    width: 21.4375rem;
}

.skill-two {
    background: #f6a560;
    height: 11.375rem;
    width: 9.9375rem;
}

.skill-three {
    background: #f39e9e;
    height: 9.9375rem;
    width: 11.375rem;
}

.skill-four {
    background: #eb7565;
    height: 21.4375rem;
    width: 9.875rem;
}

.skill-five {
    background: #61c4b7;
    height: 21.4375rem;
    width: 11.375rem;
}

.skill-six {
    background: #552049;
    height: 21.4375rem;
    width: 11.375rem;
}

.inner-skills {
    display: flex;
    gap: 1.5625rem;
}

.profile {
    margin-top: 6.25rem;
}

.amy-image {
    width: 18.75rem;
    display: block;
    margin: 0 auto;
}

.profile-info {
    margin-top: 2.5rem;
    text-align: center;
}

.profile-info h2 {
    font-weight: 700;
    font-size: 1.625rem;
    color: #030303;
}

.profile-info p {
    margin-block: 2rem;
    font-weight: 500;
    color: #7A746E;
}

.btn-profile,
.btn-contact {
    background: #eb7565;
}

.btn-profile:hover,
.btn-contact:hover {
    background: #f6a560;
}

.work {
    font-size: 1.5rem;
    font-weight: 700;
}

.carousel {
    max-width: 16.875rem;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
}

.carousel,
.carousel-item,
.carousel-item-hidden {
    display: none;
}

.carousel,
.carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s ease-in-out;
}

.carousel,
.carousel-item img {
    max-width: 37.5rem;
    width: 100%;
    height: auto;
}

.carousel-item-hidden {
    display: none;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.arrow {
     background-color: #000;
     padding: 1.5rem;
     display: inline;
     border-radius: 50%;
     margin: 2rem 0.5rem 0 0.5rem;
}

.arrow:hover {
    background: #755cde;
    cursor: pointer;
}

.contact {
    text-align: center;
    background: #030303;
    border-radius: .625rem;
    color: #fff7f0;
    padding: 3rem 1.5rem;
    margin-top: 6.25rem;
}

.contact h3 {
    font-size: 6.25rem;
}

.contact p {
    padding-block: 1.5rem;
}

footer {
    margin-top: 2.5rem;
}




@media (min-width: 48rem) {
    body {
        margin: 2.4375rem;
    }

    header,
    footer,
    .skills,
    .profile,
    .work,
    .contact {
        margin: 0 auto;
        max-width: 37.5rem;
    }

    .hero h1 {
        font-size: 2.75rem;
        line-height: 3.465rem;
        margin-top: 4rem;
    }

    .hero p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-top: 1.675rem;
    }

    .skills {
        margin-top: 5rem;
    }

    .upper-skills,
    .lower-skills {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .skill-one {
        width: 20.8125rem;
    }

    .skill-two {
        width: 9.6875rem;
    }

    .skill-three {
        width: 9.6875rem;
    }

    .skill-four {
        width: 20.8125rem;
    }

    .skill-five {
        width: 20.8125rem;
    }

    .skill-six {
        width: 20.8125rem;
    }

    .profile {
        display: flex;
        gap: 2.3rem;
        margin-top: 7.5rem;
    }

    .amy-image {
        width: 22.75rem;
        position: relative;
        right: 6.25rem;
    }

    .profile-info {
        text-align: left;
    }

    .profile-info h2 {
        font-size: 2rem;
        line-height: 2.52rem;
    }

    .profile-info p {
        margin-block: 1.5rem;
        font-size: 1.125rem;
    }

    .work {
        margin-top: 7.5rem;
    }

    .work h3 {
        font-size: 2rem;
    }

    .carousel {
        margin-top: 1.5rem;
        max-width: 33.75rem;
    }

    .arrow {
        margin-top: 1.5rem;
    }

    .contact {
        padding: 3.5rem 4.6875rem;
        margin-top: 7.5rem;
    }

    .contact h3 {
        font-size: 2rem;
    }

    .contact p {
        font-size: 1.125rem;
    }

    .btn-contact {
        font-size: 1.625rem;
    }

    footer {
        margin-top: 3.5rem;
    }
}

@media (min-width: 75rem) {
    header,
    footer,
    .skills,
    .profile,
    .work,
    .contact {
        margin-inline: 10.3125rem;
        margin: 0 auto;
        max-width: 62.5rem;
    }

    .hero h1 {
        font-size: 3.5rem;
        line-height: 4.41rem;
        margin-top: 4.125rem;
    }

    .hero p {
        line-height: 1.75rem;
        margin-top: 1.675rem;
    }

    .skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 5rem;
    }

     .lower-skills {
         flex-direction: column;
    }

    .skill-one {
        width: 24.25rem;
    }

    .skill-two {
        height: 11.375rem;
        margin-top: 0;
    }

    .skill-three {
        height: 11.375rem;
        margin-top: 0;
    }

    .skill-four {
        margin-top: 1.5rem;
    }

    .skill-five {
        height: 11.375rem;
        margin-top: 0;
    }

    .skill-six {
        height: 11.375rem;
        margin-top: 0;
    }

    .profile {
        margin-top: 8.5rem;
    }

    .amy-image {
        width: 22.75rem;
        position: relative;
        right: 0;

    }

    .profile-info {
        text-align: left;
    }

    .profile-info h2 {
        font-size: 2rem;
        line-height: 2.52rem;
    }

    .profile-info p {
        margin-block: 1.5rem;
        font-size: 1.125rem;
    }

    .work {
        margin-top: 5.5rem;
    }

    .work h3 {
        font-size: 2rem;
    }

    .carousel {
        margin-top: 1.5rem;
        max-width: 33.75rem;
    }

    .arrow {
        margin-top: 1.5rem;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4.5rem 4.0625rem;
        margin-top: 5.5rem;
        max-width: 62.5rem;
    }

    .contact-text {
        text-align: left;
        max-width: 33.75rem;
    }

    .contact h3 {
        font-size: 2.5rem;
    }

    .contact p {
        font-size: 1.125rem;
    }

    .btn-contact {
        font-size: 1.625rem;
    }

    footer {
        margin-top: 3.5rem;
    }
}

